#signin-form {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-group {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  max-height: calc(100vh - 137px);
}

.list-group-item {
  border-left: 0;
  border-right: 0;
}

.list-group-item:first-child {
  border-top: 0;
}

.list-group-item:last-child {
  border-bottom: 0;
}

@media screen and (max-width: 1024px) {
  #messanger > .row > .users,
  #messanger > .row > .messages-list {
    flex: 0 0 100%;
    max-width: 100%;
  }

  #messanger > .row > .messages-list {
    max-height: calc(100vh - 250px);
  }

  #messanger > .row > .users {
    margin-bottom: 10px;
  }

  .list-group {
    max-height: 133px;
    overflow: auto;
  }

  #messanger > .row > .users li.list-group-item {
    padding: 2px 4px;
  }

  #messages-list {
    max-height: 100%;
  }

  #messages-list .list-group-item {
    padding: 4px 10px !important;
  }
}
